/* v.1 */
:root {
    --light-foreground: #060e0f;
    --light-background: #fcfdfd;
    --light-primary: #4aa6ba;
    --light-secondary: #9690d5;
    --light-accent: #886bc7;
    --light-text-gradient: linear-gradient(
        90deg,
        var(--light-primary) 0%,
        var(--light-accent) 100%
    );

    --light-primary-foreground: #eaf7fa;
    --light-secondary-foreground: #f6f5ff;
    --light-accent-foreground: #ede5ff;

    --overwhelmingly-negative: #b60000;
    --very-negative: #f60000;
    --negative: #ff772d;
    --mostly-negative: #ffb200;
    --mixed: #fff200;
    --mostly-positive: #c6ff36;
    --positive: #70ff69;
    --very-positive: #0dff00;
    --overwhalmingly-positive: #00d624;

    --overwhelmingly-positive-foreground: #006c12;
    --very-positive-foreground: #067e00;
    --positive-foreground: #067900;
    --mostly-positive-foreground: #4e6d00;
    --mixed-foreground: #666600;
    --mostly-negative-foreground: #fff7e4;
    --negative-foreground: #ffece2;
    --very-negative-foreground: #ffd6d6;
    --overwhelmingly-negative-foreground: #ffe4e4;

    --font-thin: 100;
    --font-extralight: 200;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;
}

body {
    background-color: var(--light-background);
    color: var(--light-foreground);
    font-family:
        "Pretendard Variable",
        Pretendard,
        -apple-system,
        BlinkMacSystemFont,
        system-ui,
        Roboto,
        "Helvetica Neue",
        "Segoe UI",
        "Apple SD Gothic Neo",
        "Noto Sans KR",
        "Malgun Gothic",
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 60px;
}

#root {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    padding: 10px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#root .loading {
    --size: 24px;
    width: var(--size);
    height: var(--size);
    aspect-ratio: 1/1;

    position: absolute;
    top: calc(50% - var(--size));
    left: calc(50% - var(--size));

    animation: spin 1s linear infinite;
}

#root .page {
    width: 100%;
    opacity: 1;
    transition: opacity 200ms ease-out;

    @starting-style {
        opacity: 0;
    }
}

#root .loading {
    transition: opacity 50ms ease-out;
    opacity: 1;

    @starting-style {
        opacity: 0;
    }
}

nav.mobile-only {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    font-size: 10px;
    background-color: white;
    color: black;
    overflow: hidden;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: row;
    align-items: center;

    & > div {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;

        & > a.icon {
            color: var(--light-foreground);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2px;
            transition: color 200ms ease-out;
            text-decoration: none;

            &:hover {
                color: var(--light-accent);
            }

            & > svg {
                width: 24px;
                height: 24px;
            }
        }

        & > span {
            opacity: 75%;
            font-weight: var(--font-semibold);
            font-size: 10px;
        }
    }
}

button.primary {
    border-style: solid;
    border-width: 0 4px 4px 0;
    border-radius: 32px;
    background-color: var(--light-primary);
    color: var(--light-primary-foreground);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: filter 100ms ease-in-out;

    &:hover {
        filter: brightness(0.9);
    }
}

nav.desktop-only {
    display: none;
    width: 100%;
    max-width: 800px;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 60px;
    margin: 0 auto;
    padding: 0 12px;

    & > .main-icon {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        gap: 20px;
        padding: 10px;
        & > div {
            display: flex;
            justify-content: center;
            & > a.icon {
                color: var(--light-foreground);
                text-decoration: none;
                transition: color 200ms ease-out;

                &:hover {
                    color: var(--light-accent);
                }

                & > svg {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}

div.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    & > svg {
        width: 38px;
        height: 38px;
    }
    & > span {
        font-weight: var(--font-black);
        font-size: 32px;

        background: var(--light-text-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media (min-width: 600px) {
    nav.mobile-only {
        display: none;
    }

    nav.desktop-only {
        display: flex;
    }
}