/* v.1 */
:root {
    --light-foreground: #060e0f;
    --light-background: #fcfdfd;
    --light-primary: #4aa6ba;
    --light-secondary: #9690d5;
    --light-accent: #886bc7;
    --light-text-gradient: linear-gradient(
        90deg,
        var(--light-primary) 0%,
        var(--light-accent) 100%
    );
    
    --light-primary-foreground: #EAF7FA;
    --light-secondary-foreground: #F6F5FF;
    --light-accent-foreground: #EDE5FF;

    --overwhelmingly-negative: #B60000;
    --very-negative: #F60000;
    --negative: #FF772D;
    --mostly-negative: #FFB200;
    --mixed: #FFF200;
    --mostly-positive: #C6FF36;
    --positive: #70FF69;
    --very-positive: #0DFF00;
    --overwhalmingly-positive: #00D624;

    --very-positive-foreground: #067E00;
    --very-negative-foreground: #FFD6D6;
    --positive-foreground: #067900;
    --overwhalmingly-positive-foreground: #006C12;
    --overwhelmingly-negative-foreground: #FFE4E4;
    --negative-foreground: #FFECE2;
    --mostly-positive-foreground: #4E6D00;
    --mostly-negative-foreground: #FFF7E4;
    --mixed-foreground: #666600;

    --font-thin: 100;
    --font-extralight: 200;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;
}

body {
    background-color: var(--light-background);
    color: var(--light-foreground);
    font-family:
        "Pretendard Variable",
        Pretendard,
        -apple-system,
        BlinkMacSystemFont,
        system-ui,
        Roboto,
        "Helvetica Neue",
        "Segoe UI",
        "Apple SD Gothic Neo",
        "Noto Sans KR",
        "Malgun Gothic",
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 60px;
}

main {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 10px;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;

    & > .logo {
        display: flex;
        flex-direction: row;
        gap: 6px;
        align-items: center;

        & > svg {
            width: 38px;
            height: 38px;
        }

        & > span {
            font-weight: var(--font-black);
            font-size: 32px;

            background: var(--light-text-gradient);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    & > h1.header {
        font-weight: var(--font-bold);
        font-size: 32px;
    }
}

nav.mobile-only {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    font-size: 10px;
    background-color: white;
    color: black;
    overflow: hidden;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: row;
    align-items: center;

    & > div {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;

        & > svg {
            width: 24px;
            height: 24px;

            transition: color 200ms ease-out;

            &:hover {
                color: var(--light-accent);
            }
        }

        & > span {
            opacity: 75%;
            font-weight: var(--font-semibold);
            font-size: 10px;
        }
    }
}

button.primary {
    border-style: solid;
    border-width: 0 4px 4px 0;
    border-radius:32px;
    background-color: var(--light-primary);
    color: var(--light-startcolor);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: filter 50ms ease-out;

    &:hover {
        filter: brightness(0.9);
    }
}

button.main-start {
    width: 100%;
    font-size: 16px;
    font-weight: var(--font-bold);
    padding: 8px 16px;
}
.desktop-only{
    display: none;
}
@media (min-width: 600px){
    .mobile-only {
        display: none !important;
    }
    .logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:4px;

        & > svg{
            width: 38px;
            height: 38px;
        }
        & > span{
            font-weight: var(--font-black);
            font-size: 32px;

            background: var(--light-text-gradient);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .main-icon{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin:0;
        gap: 20px;
        padding: 10px;
        & > div{
            display: flex;
            justify-content: center;
            & > svg{
                width: 32px;
                height: 32px;
                transition: color 200ms ease-out;
                
                &:hover{color: var(--light-accent)}
            }
        }    
    }
    .main-navigation{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 60px;
        margin: 0;
        & > nav{
            display: flex;
            width: 800px;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}