@property --background-radial-ping-startpoint {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

@property --background-radial-ping-endpoint {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

@property --background-radial-ping-opacity {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

@keyframes background-radial-ping {
    from {
        --background-radial-ping-startpoint: 10%;
        --background-radial-ping-endpoint: 10%;
        --background-radial-ping-opacity: 50%;
    }
    to {
        --background-radial-ping-startpoint: 100%;
        --background-radial-ping-endpoint: 100%;
        --background-radial-ping-opacity: 5%;
    }
}

/* v.1 */
:root {
    --light-foreground: #060e0f;
    --light-foreground-dec: 6, 14, 15;
    --light-foreground-alt: #363e3f;
    --light-foreground-alt-dec: 54, 62, 63;
    --light-border: #a6aeaf;
    --light-border-dec: 166, 174, 175;
    --light-background: #fcfdfd;
    --light-background-dec: 252, 253, 253;
    --light-background-alt: #c6cecf;
    --light-background-alt-dec: 198, 206, 207;
    --light-primary: #4aa6ba;
    --light-primary-dec: 74, 166, 186;
    --light-secondary: #9690d5;
    --light-secondary-dec: 150, 144, 213;
    --light-accent: #886bc7;
    --light-accent-dec: 136, 107, 199;
    --light-text-gradient: linear-gradient(90deg, var(--light-primary) 0%, var(--light-accent) 100%);
    --light-error-foreground: #f60000;
    --light-error-foreground-dec: 246, 0, 0;

    --light-primary-foreground: #eaf7fa;
    --light-primary-foreground-dec: 234, 247, 250;
    --light-secondary-foreground: #f6f5ff;
    --light-secondary-foreground-dec: 246, 245, 255;
    --light-accent-foreground: #ede5ff;
    --light-accent-foreground-dec: 237, 229, 255;

    --overwhelmingly-negative: #b60000;
    --overwhelmingly-negative-dec: 182, 0, 0;
    --very-negative: #f60000;
    --very-negative-dec: 246, 0, 0;
    --negative: #ff772d;
    --negative-dec: 255, 119, 45;
    --mostly-negative: #ffb200;
    --mostly-negative-dec: 255, 178, 0;
    --mixed: #fff200;
    --mixed-dec: 255, 242, 0;
    --mostly-positive: #c6ff36;
    --mostly-positive-dec: 198, 255, 54;
    --positive: #70ff69;
    --positive-dec: 112, 255, 105;
    --very-positive: #0dff00;
    --very-positive-dec: 13, 255, 0;
    --overwhelmingly-positive: #00d624;
    --overwhelmingly-positive-dec: 0, 214, 36;

    --overwhelmingly-positive-foreground: #006c12;
    --overwhelmingly-positive-foreground-dec: 0, 108, 18;
    --very-positive-foreground: #067e00;
    --very-positive-foreground-dec: 6, 126, 0;
    --positive-foreground: #067900;
    --positive-foreground-dec: 6, 121, 0;
    --mostly-positive-foreground: #4e6d00;
    --mostly-positive-foreground-dec: 78, 109, 0;
    --mixed-foreground: #666600;
    --mixed-foreground-dec: 102, 102, 0;
    --mostly-negative-foreground: #fff7e4;
    --mostly-negative-foreground-dec: 255, 247, 228;
    --negative-foreground: #ffece2;
    --negative-foreground-dec: 255, 236, 226;
    --very-negative-foreground: #ffd6d6;
    --very-negative-foreground-dec: 255, 214, 214;
    --overwhelmingly-negative-foreground: #ffe4e4;
    --overwhelmingly-negative-foreground-dec: 255, 228, 228;

    --font-family:
            "Pretendard Variable",
            Pretendard,
            -apple-system,
            BlinkMacSystemFont,
            system-ui,
            Roboto,
            "Helvetica Neue",
            "Segoe UI",
            "Apple SD Gothic Neo",
            "Noto Sans KR",
            "Malgun Gothic",
            "Apple Color Emoji",
            "Segoe UI Emoji",
            "Segoe UI Symbol";

    --font-thin: 100;
    --font-extralight: 200;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;

    --timing-function: cubic-bezier(0,0.1,.2,1);
    --page-component-starting-transition: transform 400ms var(--timing-function), opacity 400ms var(--timing-function);
    --background-radial-ping-color: rgba(var(--light-background-alt-dec), var(--background-radial-ping-opacity));
    --background-radial-ping: radial-gradient(circle at center, var(--background-radial-ping-color) 0%, var(--background-radial-ping-color) var(--background-radial-ping-startpoint), var(--light-background) var(--background-radial-ping-endpoint), var(--light-background) 100%);
}

body {
    background-color: var(--light-background);
    color: var(--light-foreground);
    font-family: var(--font-family) sans-serif;

    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    padding-bottom: 60px;
}

input,select,textarea {
    width: 100%;
    font-family: var(--font-family) sans-serif;
}

#root {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    padding: 10px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#root .loading {
    --size: 24px;
    width: var(--size);
    height: var(--size);
    aspect-ratio: 1/1;

    position: absolute;
    top: calc(50% - var(--size));
    left: calc(50% - var(--size));

    animation: spin 1s linear infinite;
}

#root .page {
    width: 100%;
    opacity: 1;
    transition: opacity 200ms ease-out;

    @starting-style {
        opacity: 0;
    }
}

#root .loading {
    transition: opacity 50ms ease-out;
    opacity: 1;

    @starting-style {
        opacity: 0;
    }
}

nav.mobile-only {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    font-size: 10px;
    background-color: white;
    color: black;
    overflow: hidden;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: row;
    align-items: center;

    & > div {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;

        & > a.icon {
            color: var(--light-foreground);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2px;
            transition: color 200ms ease-out;
            text-decoration: none;

            &:hover {
                color: var(--light-accent);
            }

            &:active {
                color: var(--light-accent);
            }

            & > svg {
                width: 24px;
                height: 24px;
            }
        }

        & > span {
            opacity: 75%;
            font-weight: var(--font-semibold);
            font-size: 10px;
        }
    }
}

button,.button {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: filter 200ms ease-in-out;

    &:hover {
        filter: brightness(0.9);
    }

    &:active {
        filter: brightness(0.75);
    }

    &:disabled {
        filter: opacity(0.5);
        cursor: not-allowed;
    }
}

button.primary,.button.primary {
    background-color: var(--light-primary);
    color: var(--light-primary-foreground);
}

nav.desktop-only {
    display: none;
    width: 100%;
    max-width: 800px;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 60px;
    margin: 0 auto;
    padding: 0 12px;

    & > .main-icon {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        gap: 20px;
        padding: 10px;
        & > div {
            display: flex;
            justify-content: center;
            & > a.icon {
                color: var(--light-foreground);
                text-decoration: none;
                transition: color 200ms ease-out;

                &:hover {
                    color: var(--light-accent);
                }

                & > svg {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}

div.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    user-select: none;
    -webkit-user-select: none;

    & > svg {
        width: 38px;
        height: 38px;
    }
    & > span {
        font-weight: var(--font-black);
        font-size: 32px;

        background: var(--light-text-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media (min-width: 600px) {
    nav.mobile-only {
        display: none;
    }

    nav.desktop-only {
        display: flex;
    }
}